.border {
    border: 1px solid black;
}
input {
    width: 35em;
}
.left {
    width: 25%;
    float: left;
    margin: 20px;
}
.right {
    width: 60%;
    float: left;
    margin: 20px;
}
#chat-data {
    height: 400px;
    overflow: auto;
}

#chatlog{
    display: block;
    width: 100%;
    height: 30em;
    overflow-y: scroll;
    border: 1px solid #333333;
    line-height: 1.3em;
}
