.border {
    border: 1px solid black;
}
input {
    width: 35em;
}
.left {
    width: 25%;
    float: left;
    margin: 20px;
}
.right {
    width: 60%;
    float: left;
    margin: 20px;
}
#chat-data {
    height: 400px;
    overflow: auto;
}
